* {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, button {
    font-family: 'Poppins', sans-serif;
}
body {
    height: 100vh;
    background-color: #333333;
    background-image: linear-gradient(#009c91, #0a1c40);
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-weight: 500;
    font-size: 3rem;
    padding: 0;
}
h5 {
    font-weight: 300;
}
h2 {
    font-weight: 400;
}
/* first page opener */
.pop-up {
    z-index: 4;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.pop-up-btn {
    margin-top: 25px;
    width: 100px;
    padding: 10px 0;
    background-color: transparent;
    border: 2px solid #F79128;
    color: #F79128;
    font-weight: 600px;
    font-size: 1rem;
}
.pop-up-btn:hover {
    background-color: #F79128;
    color: #ffffff;
    box-shadow: 0 0 7px 2px #33333373;
}
.pop-up-btn:focus {
    outline: none;
}
/* navbar */
nav {
    width: 100%;
    position: fixed;
    top: 0;
}
#nav-content {
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;
}
#nav-content li {
    display: inline;
    margin-right: 40px;
    font-size: 1.2rem;
}
#timer-display {
    font-weight: 400;
    padding: 0 20px;
    margin-right: 25px;
    display: inline;
}
#timer-display h1 {
    display: inline;
}
/* questions */
#mycarousel {
    margin-top: 150px;
}
button.answer {
    background-color: #0a1c4091;
    border: none;
    border-left: 3px solid #ffffff;
    margin: 5px 0;
    padding: 10px;
    text-align: left;
}
button.answer:hover {
    border-left: 8px solid #ffffff;
}
button.incorrect:active, button.incorrect:focus {
    border: none;
    outline: none;
    border-left: 8px solid #b30101;
    background-color: #400a1391;
}
button.correct:active, button.correct:focus {
    border: none;
    outline: none;
    border-left: 8px solid #07b301;
    background-color: #10400a91;
}
.question {
    font-weight: 300;
    font-size: 1.4rem;
}
.carousel-item {
    margin-left: 10vw;
    max-width: 80vw;
    transition: transform 1.5s ease, opacity .5s ease-out !important;
}
/* enter name pop up */
form {
    font-size: 1.3rem;
    font-weight: 300;
}
#name {
    margin: 20px 20px;
    padding: 0 10px;
    background-color: transparent;
    border: 1px solid #ffffff;
}
#name:focus {
    outline: none;
    border: 1px solid #F79128;
}
#your-score {
    margin: 30px 0;
    font-size: 4rem;
    color: #F79128;
}
form label {
    font-weight: 200;
}
/* scoreboard */
#score-title {
    margin-top: 120px;
    text-align: center;
}
#scorelist li {
    list-style: none;
    font-size: 2rem;
    background-color: #0a1c4091;
    padding: 10px;
}
.score-entries {
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 600px){
    #nav-content li {
        margin-right: 10px;
        padding: 0;
    }
    #nav-content {
        padding: 5px;
    }
    #timer-display {
        padding: 0;
        margin-right: 5px;
    }
    #timer-display h1 {
        font-size: 2rem;
    }
    .carousel-item {
        margin-left: 10px;
        max-width: 95vw;
    }
}